input,select{
    width 80%;
    margin 5px auto;
    display block;
    height 50px;
    line-height 50px;
}

button{
    border none;
    background $third;
    color $color;
    border-radius 10px;
    padding 10px;
    font-size 20px;
    cursor pointer;
    outline none;
}

.btn-red{
    background #d32925;
}