.shade{
    width 100vw;
    height 100vh;
    background url("http://b-ssl.duitang.com/uploads/item/201811/25/20181125081335_navrm.gif") no-repeat;
    background-color gray;
    position fixed;
    left 0;
    top 0;
    .box{
        text-align center;
        width 260px;
        height 260px;
        background rgba(0,0,0,0.5);
        position absolute;
        left 0;
        top 0;
        right 0;
        bottom 0;
        margin auto;
        padding 20px;
        .elInput{
            padding 10px 22px 0;
        }
    }
}